body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.container {
    margin: 5%;
}

#page-header {
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

#page-header-link {
    color: #775253;
    text-decoration: none;
}

#page-header-link:hover {
    background-color: #775253;
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}

.nav-link {
    color: #775253;
    text-decoration: none;
}

.nav-link:hover {
    /* text-decoration: underline; */
    background-color: #775253;
    color: white;
}

.content {
    display: block;
    width: 75%;
    margin: auto;

}

/* #posts-header {
    color: #775253;
    font-size: 36px;
    margin: 12px;
} */

.post-list {
    list-style: none;
}

.post {
    margin-top: 10px;
    list-style-type: circle;
}

.post-link {
    color: #775253;
    text-decoration: none;
    font-size: 24px;
}

.post-link:hover {
    /* text-decoration: underline; */
    background-color: #775253;
    color: white;
}

.post-date {
    margin: 0px;
    margin-left: 20px;
    font-size: 14px;
}
.post-description {
    margin: 0px;
    margin-left: 20px;
    font-size: 14px;
    color: #708371;
}

