body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 5%;
}

#box1 {
    width: 50%;
}

.nav-bar {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    border: 1px black solid;
}

.nav-item {
    margin: 10px;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}

.post {
    margin-top: 10px;
}

.post-date {
    margin: 0px;
    margin-left: 20px;
    font-size: 14px;
}
.post-description {
    margin: 0px;
    margin-left: 20px;
    font-size: 14px;
}